/* Generales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(to top, #e4e7e2 0%, #fff 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Krub", sans-serif;
  font-size: 10px;
  max-width: 99rem;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 10px 24px 46px -19px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 24px 46px -19px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 24px 46px -19px rgba(0, 0, 0, 0.42);
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 8rem;
}

h2 {
  font-weight: 00;
  font-size: 4rem;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
}

.contenedor-main {
  padding: 2rem;
}

/* HEADER */
.header {
  background-image: url(../img/header-img.jpg);
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  display: flex;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.header h1 {
  position: absolute;
  top: 14rem;
  right: 5rem;
  border-bottom: 1px solid black;
  text-align: right;
}

.header h2 {
  color: #000;
}

.header ul {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}

.header a {
  text-decoration: none;
  color: #000;
  margin-left: 2rem;
}

/* ABOUT US */
.about-us {
  display: flex;
}

.about-us img {
  width: 50%;
}

.contenedor-main {
  margin-top: 4rem;
}

.about-us h3 {
  color: #35cfe7;
  margin-bottom: 1.5rem;
}

.about-us h2 {
  font-weight: bold;
  margin-bottom: 3rem;
}

.about-us p {
  line-height: 3rem;
  margin-bottom: 3rem;
}

.about-us button {
  background-color: transparent;
  border-color: #35cfe7;
  border-style: solid;
  padding: 1rem 2rem;
  font-weight: bold;
}

/* OUR FEATURE */
.our-feature {
  display: flex;
}

.our-feature img {
  width: 50%;
}

.contenedor-main {
  margin-top: 4rem;
}

.our-feature h3 {
  color: #fed144;
  margin-bottom: 1.5rem;
}

.our-feature h2 {
  font-weight: bold;
  margin-bottom: 3rem;
}

.our-feature p {
  line-height: 3rem;
  margin-bottom: 3rem;
}

.our-feature button {
  background-color: transparent;
  border-color: #fed144;
  border-style: solid;
  padding: 1rem 2rem;
  font-weight: bold;
}

/* OUR FEATURE */
.digital-studio {
  display: flex;
}

.digital-studio img {
  width: 50%;
}

.contenedor-main {
  margin-top: 4rem;
}

.digital-studio h3 {
  color: #e9a8bc;
  margin-bottom: 1.5rem;
}

.digital-studio h2 {
  font-weight: bold;
  margin-bottom: 3rem;
}

.digital-studio p {
  line-height: 3rem;
  margin-bottom: 3rem;
}

.digital-studio button {
  background-color: transparent;
  border-color: #e9a8bc;
  border-style: solid;
  padding: 1rem 2rem;
  font-weight: bold;
}

/* IMAGES */
.images {
  display: flex;
  flex-flow: column;
  margin-bottom: 7rem;
}

.images img {
  width: 24.74%;
}

/* PORTAFOLIO */
.portafolio {
  margin-bottom: 6rem;
}

.portafolio h3 {
  color: #e9a8bc;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.portafolio h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

.contenedor-portafolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 0 0 2rem;
}

.contenedor-portafolio img {
  width: 95%;
}

/* ICONOS */
.iconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
  margin: 0 2rem 6rem;
}

.campo-icono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconos h3 {
  font-weight: 300;
  color: #fff;
  margin-top: 2rem;
}

.campo1 {
  background-color: #35cfe7;
  padding: 7rem 2rem;
}

.campo2 {
  background-color: #fed144;
  padding: 7rem 2rem;
}

.campo3 {
  background-color: #e9a8bc;
  padding: 7rem 2rem;
}

.campo4 {
  background-color: #35cfe7;
  padding: 7rem 2rem;
}

/* FORMULARIO */
.formulario{
    background-image: url(../img/footer-img.jpg);
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
}

.formulario h2{
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 4rem 0 4rem;
}

.contenedor-formulario{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 3rem;
}

.contenedor-formulario input{
    margin-bottom: 2rem;
    width: 30rem;
    padding: 1rem;
    background-color: transparent;
    border: 0.3rem solid #fff;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.contenedor-formulario textarea{
    width: 30rem;
    padding: 1rem;
    background-color: transparent;
    border: 0.3rem solid #fff;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.formulario button{
    background-color: #fff;
    border-style: none;
    border-radius: 1rem;
    padding: 2rem 4rem;
    margin: 2rem auto 0;
    display: flex; 
}

/* FOOTER */
.footer{
    background-color: #464646;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.footer p{
    color: #fff;
    font-weight: 400;
}